@model Core.Models.StaffRota
@{
	ViewData["Title"] = "AllocateShifts";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var inRotaId = ViewBag.inRotaId;
	var shiftList = ViewBag.ListOFShifts;
}
<style>
	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}

	body {
		font-family: Arial, sans-serif;
	}

	/*header {
		text-align: justify;
		background-color: #f2f2f2;
		padding: 0px;
	}*/

	label {
		font-weight: bold;
	}

	input {
		padding: 2px;
		width: 200px;
	}
</style>
<!-- Main Wrapper -->
<div class="main-wrapper">
	<div class="page-wrapper">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Shifts</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Shifts</li>
						</ul>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="form-group form-focus select-focus">
							<select id="inRotaId" asp-items="@(new SelectList(ViewBag.UserInRota ,"Id", "Name" ))" class="makeFilter form-control"> </select>
							<label class="focus-label">Staffs InRota</label>
						</div>
					</div>
					<div class="col-sm-6 col-md-2">
						<div class="form-group form-focus">
							<div class="">
								<input class="form-control floating" id="start_DateId" type="date">
							</div>
							<label class="focus-label" style="top:-19px !important">Start Date</label>
						</div>
					</div>
					<div class="col-auto float-right ml-auto">
						<a href="#" class="btn add-btn" onclick="NavigateToRata()"><i class="fa fa-plus"></i> Add Schedule</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<ul class="list-unstyled">
							<li class="list-style-type-none">
								<table class="table table-striped custom-table mb-0 datatable">
									<thead>
										<tr>
											<th>S/N</th>
											<th>Sunday</th>
											<th>Monday</th>
											<th>Tuesday</th>
											<th>Wednesday</th>
											<th>Thursday</th>
											<th>Friday</th>
											<th>Saturday</th>
											<th>Planned hrs</th>
											<th>Acutual hrs</th>
											<th>Amount to Pay</th>
										</tr>
									</thead>
									<tbody id="myShiftTableBody">
										@if(Model.RotaObject != null)
										{
											<tr>
												<td></td>
												@foreach(var x in Model.RotaObject)
												{
													@if(x.ShiftId != null)
													{
														<td class="text-center">
															<h2>
																<a href="#"><span>@x.shift.Locations.AbbreviatedName</span> @x.TRange</a>
															</h2>
														</td>
													}
													else
													{
														<td class="text-center" onclick="popModal('@x.Date')">
															<span><i class="fa fa-plus-circle"></i></span>
														</td>
													}
												}
												<td>60</td>
												<td>56</td>
												<td>#68000</td>
												<input type="text" id="userId" hidden value="@Model.UserId"/>
												<input type="text" id="dateId" hidden value="@Model.DateCreated"/>
											</tr>
										}
									</tbody>
								</table>
								<button class="@Model.ShowAddBTN" id="add_items">Add Row</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Wrapper -->
	<!-- Add Shift Modal -->
	<div id="allocate_Shift" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Shift</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				
				<div class="row">
					<div class="col-sm-12" id="dataBoard">
						<div class="table-responsive">
							<table class="table table-striped custom-table mb-0" id="dataTableSearch">
								<thead>
									<tr>
										<th>S/N</th>
										<th>Loc</th>
										<th>Name</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Unpaid Time</th>
									</tr>
								</thead>
								@if (Model != null)
								{
									<tbody id="bookingDetails">
										@foreach (var shift in shiftList)
										{
											<tr>
												<td></td>
												<td class ="showValue">@shift.Locations.AbbreviatedName</td>
												<td class ="showValue">@shift.Name</td>
												<td class="showValue">@shift.StartTime</td>
												<td class ="showValue">@shift.EndTime</td>
												<td class="showValue">@shift.UnpaidTime</td>
											</tr>
										}
									</tbody>
								}
							</table>
						</div>
					</div>
					<hr />
					<header>
						<h3 class ="text-center">Planned</h3>
					</header>
					<div>
						<label class="col-form-label">Start Time <span class="text-danger">*</span></label>
						<input type="time" id="start_TimeId" readonly>
					</div>
					<div>
						<label class="col-form-label">End Time <span class="text-danger">*</span></label>
						<input type="time" id="end_TimeId" readonly>
					</div>
					<div>
						<label class="col-form-label">Unpaid Time<span class="text-danger">*</span></label>
						<input type="time" id="unpaid_TimeId" readonly>
					</div>
					@*<div class="submit-section">
						<button class="btn btn-primary submit-btn" id="submit_btn" onclick="addShift()">Submit</button>
					</div>*@
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Shift Modal -->

</div>
<!-- /Main Wrapper -->