@model Core.Models.StaffRota
@{
	ViewData["Title"] = "AllocateShifts";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var shiftList = ViewBag.ListOFShifts;
	var startDat = @Model?.DateCreated?.ToString("s").Split("T")[0];
}
<style>
	body {
		font-family: Arial, sans-serif;
	}

	label {
		font-weight: bold;
	}

	input {
		padding: 2px;
		width: 200px;
	}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Shifts Allocation</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item active btn btn-success" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add Schedule</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Single user rota schedule view</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive">
						<table id="example2" class="table table-bordered table-hover text-nowrap">
								<thead>
									<tr>
										<th>Period</th>
										<th>Sunday</th>
										<th>Monday</th>
										<th>Tuesday</th>
										<th>Wednesday</th>
										<th>Thursday</th>
										<th>Friday</th>
										<th>Saturday</th>
										<th>Planned hrs</th>
										<th>Acutual hrs</th>
										<th>Amount to Pay</th>
									</tr>
								</thead>
								@*<tbody id="myShiftTableBody">
									@if (Model.RotaObject != null)
									{
										<tr>
											<td>@Model.DateRange</td>
											@foreach (var x in Model.RotaObject)
											{
												@if (x.ShiftId != null)
												{
													<td class="text-center">
														@x.TRange <span class="badge bg-success">@x.shift.Locations.AbbreviatedName</span>
													</td>
												}
												else
												{
												<td class="text-center" id="@x.Date" onclick="popModal('@x.Date','0')">
														<span><i class="fa fa-plus-circle"></i></span>
													</td>
												}
											}
											<td id="plannedHr_0">@Model.TotalPlannedHour</td>
											<td>56</td>
											<td>#68000</td>
											<input type="text" id="userId" hidden value="@Model.UserId" />
											<input type="text" id="dateId" hidden value="@startDat" />
										</tr>
									}
							</table>*@
						<button class="@Model.ShowAddBTN" id="add_items">Add Row</button>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Main Wrapper -->
<div>
	<!-- Add Shift Modal -->
	<div id="allocate_Shift" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Shift</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row table-responsive">
							<div class="col-sm-12" id="dataBoard">
							<table id="example2" class="table table-bordered table-hover text-nowrap">
								<thead>
									<tr>
										<th>Loc</th>
										<th>Name</th>
										<th>S-Time</th>
										<th>E-Time</th>
										<th>U-Time</th>
									</tr>
								</thead>
								@if (shiftList != null)
								{
									<tbody>
										@foreach (var shift in shiftList)
										{
											<tr onclick="mapShiftDetails('@shift.Id')">
												<td class="showValue"><a href="#" class="clickable-cell">@shift.Locations.AbbreviatedName</a></td>
												<td class="showValue"><a href="#" class="clickable-cell">@shift.Name</a></td>
												<td class="showValue"><a href="#" class="clickable-cell">@shift.StartTime</a></td>
												<td class="showValue"><a href="#" class="clickable-cell">@shift.EndTime</a></td>
												<td class="showValue"><a href="#" class="clickable-cell">@shift.UnpaidTime</a></td>
											</tr>
										}
									</tbody>
								}
							</table>
						</div>
					</div>
					<input class="form-group" id="datId" hidden>
					<input class="form-group" id="yearId" value="@Model?.Year" hidden>
					<input class="form-group" id="uId" value="@Model?.UserId" hidden>
					<input class="form-group" id="shfId" hidden>
					<div class="row">
						<div class="card card-Success">
							<div class="card-header">
								<h3 class="card-title">Schedule</h3>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-4">
										<input type="text" class="form-control" placeholder="Start Time" id="start_TimeId" readonly>
									</div>
									<div class="col-4">
										<input type="text" class="form-control" placeholder="End Time" id="end_TimeId" readonly>
									</div>
									<div class="col-4">
										<input type="text" class="form-control" placeholder="Unpaid Time" id="unpaid_TimeId" readonly>
									</div>
								</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer text-center">
								<button class="btn btn-primary" onclick="updateRota()">Save Schedule</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Shift Modal -->

	<!-- Select staff Modal -->
	<div id="add_department" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Select Staff</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-5">
							<select id="inRotaId" asp-items="@(new SelectList(ViewBag.UserInRota ,"Id", "Name" ))" class="form-control"> </select>
						</div>
						<div class="col-4">
							<input class="form-control" id="start_DateId" type="date">
						</div>
						<div class="col-3">
							<input type="text" class="form-control btn btn-success submit-btn" onclick="NavigateToRata()" value="Add" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Department Modal -->
</div>
<!-- /Main Wrapper -->
