@* @model IEnumerable<Core.ViewModels.LeaveViewModel> *@
@model Core.Models.LeaveSetup
@inject Logic.IHelpers.ILeaveApplicationHelper admin;
@{
    ViewData["Title"] = "Leave Setup";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var leaveTypes = admin.GetAllStaffLeaveTypes(User.Identity.Name).Result;
}
<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }

    tr td:first-child:before {
        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }

    /* Add some CSS for the toggle switches */
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Leave Setup</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active btn btn-success" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Setup Leave Type</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="content container-fluid">
        @if (leaveTypes != null && leaveTypes.Count > 0)
        {

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-lg-responsive table-sm-responsive table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Leave Type</th>
                                    <th>Home</th>
                                    <th>Hours Deduct From Timesheet</th>
                                    <th>Hours Deduct From Annual Leave</th>
                                    <th class="text-right no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var leave in leaveTypes)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@leave.Name</td>
                                        <td>@leave.Shift.Locations.Name</td>
                                        <td>@leave.HoursDeductedFromTimesheet</td>
                                        <td>@leave.DeductFromAnnualLeave</td>

                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-flat">Action</button>
                                                <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" role="menu">
                                                    
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_leave_type" onclick="editLeaveType('@leave.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_leaveType" onclick="leaveTypeToBeDeleted('@leave.Id')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }
        else
        {
            <h2>No leave Types Available yet</h2>
        }
    </div>
    
</section>
<!-- /.content -->
<!-- Add leave Modal -->

<div class="page-wrapper">
    <!-- Content Header (Page header) -->
    <div id="add_employee" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Setup Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio">
                                <input type="radio" name="radio" value="Annual leave" id="annualId" checked>
                                <label>Annual Leave </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio text-right">
                                <input type="radio" name="radio" id="othersId">
                                <label>Others</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="leaveTypeDropDown">
                        <label class="col-form-label">Leave Type Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="leaveName">
                    </div>
                    <div class="form-group" id="abbrev">
                        <label class="col-form-label">Abbreviation <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="leaveabbreviation">
                    </div>
                    <div class="form-group" id="dropDowned">
                        <label>Number of Days <span class="text-danger">*</span></label>
                        <input id="numberOfDays" class="form-control" type="text">
                    </div>
                    <div class="form-group" id="shiftDropDown">
                        <label>Homes <span class="text-danger">*</span></label>
                        <select class="select form-control" id="shiftId" asp-items="@(new SelectList(@ViewBag.Shift, "Id", "Name"))">
                        </select>
                    </div>
                    <div class="submit-section text-center">
                        <button class="btn btn-primary submit-btn" id="submit_btn" onclick="createLeave()">Submit</button>
                    </div>
                    @*   <div class="row mb-2">
                    <div class="col-md-6">
                    <div class="form-group form-focus text-center">
                    <div class="toggle-switch" id="annualLeaveToggle">
                    <h4>Deduct From Annual Leave</h4>
                    <label class="switch">
                    <input type="checkbox" id="deductleave">
                    <span class="slider round"></span>
                    </label>
                    </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                    <div id="infomationPrice"></div>
                    </div>
                    </div>

                    <div class="col-md-6">
                    <div class="form-group text-center">
                    <h4>Hours Deduct From Timesheet</h4>
                    <div class="toggle-switch" id="timesheetToggle">
                    <label class="switch">
                    <input type="checkbox" id="showPendingBalance">
                    <span class="slider round"></span>
                    </label>
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>

    <!-- /Add leave Modal -->
    <!-- Edit leave Modal -->
    <div id="edit_leave_type" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input class="form-control" type="text" id="leaveTypeId" hidden>
                    <div class="form-group" id="editLeavet">
                        <label>Leave Type <span class="text-danger">*</span></label>
                        <input id="editLeaveName" class="form-control  LeaveName" type="text" required>
                    </div>

                    <div class="form-group">
                        <label>Number of Days <span class="text-danger">*</span></label>
                        <input id="edit-NumberOfDays" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Staff Shift  <span class="text-danger">*</span></label>
                        <select class="select form-control" id="edit-ShiftId" asp-items="@(new SelectList(@ViewBag.Shift, "Id", "Name"))">
                        </select>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" onclick="editleaveTypeToBeSave()" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit location Modal -->
    <!-- DELETE Purchase Plan Modal -->
    <div class="modal custom-modal fade" id="delete_leaveType" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <input class="form-control" type="text" hidden id="deleteleaveTypeId">
                        <h3>Delete Leave Type</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="deleteleaveType()">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /DELETE Purchase Plan Modal -->
</div>
