@model IEnumerable<Core.Models.Shifts>
@{
	ViewData["Title"] = "Shift";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	var locationId = ViewBag.locationId;
}
<style>
	body {
		counter-reset: Serial; /* / Set the Serial counter to 0 /*/
	}

	tr td:first-child:before {
		counter-increment: Serial; /* / Increment the Serial counter /*/
		content: counter(Serial); /*  / Display the counter /*/
	}
</style>
<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Shifts</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item active btn btn-success" data-toggle="modal" data-target="#add_Shift"><i class="fa fa-plus"></i>Add Shift</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">Shift List</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body table-responsive">
						@if (Model.Count() > 0 && Model != null)
						{
							<table id="example2" class="table table-bordered table-hover text-nowrap">
								<thead>
									<tr>
										<th>S/N</th>
										<th>Name</th>
										<th>Start Time</th>
										<th>End Time</th>
										<th>Is Fixed</th>
										<th>Fixed Amount</th>
										<th>Location Name</th>
										<th>Unpaid Time</th>
										<th class="text-right">Action</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var shift in Model)
									{
										<tr>
											<td></td>
											<td>@shift.Name</td>
											<td>@shift.StartTime</td>
											<td>@shift.EndTime</td>
											<td>@shift.IsFixed</td>
											<td>@shift.FixedAmount</td>
											<td>@shift.Locations.Name</td>
											<td>@shift.UnpaidTime</td>
											<td class="text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default btn-flat">Action</button>
                                                    <button type="button" class="btn btn-default btn-flat dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu" role="menu">
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_shift" onclick="GetShiftByID('@shift.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_shift" onclick="GetShiftByID('@shift.Id')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
										</tr>
									}
							</table>
						}
						else
						{
							<div class="row p5 m-5">
								<div class="col-md-12 text-center p-5 m5">
									<h2>No Record Found</h2>
								</div>
							</div>
						}
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Main Wrapper -->
<div class="main-wrapper">
	<div class="page-wrapper">
		<!-- Add copy Modal -->
		<div id="add_Shift" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Shift</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Shift Name <span class="text-danger">*</span></label>
											<input class="form-control" type="text" id="shiftName">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Abbreviated Shift Name <span class="text-danger">*</span></label>
											<input class="form-control" type="text" id="abbreviationlocationName">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Start Time <span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="start_TimeId">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">End Time <span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="end_TimeId">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<div class="status-toggle">
												<h5 class="pt-2">Is Fixed Shift</h5>
												<input type="checkbox" id="fixedId" class="check visit_listner">
												<label for="fixedId" class="checktoggle">checkbox</label>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Fixed Amount</label>
											<input class="form-control" type="number" id="fixedAmountId">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Location <span class="text-danger">*</span></label>
											<select id="locationId" style="width:100%" asp-items="@(new SelectList(ViewBag.Location  ,"Id", "Name" ))" class="makeFilter form-control"> </select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Unpaid Time<span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="unpaid_TimeId">
										</div>
									</div>
								</div>
								<div class="row">
									<button type="button" class="btn btn-block bg-gradient-success" onclick="addShift()">Create</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add copy Modal -->
		<!-- Edit shift Modal -->
    <div id="edit_shift" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Shift</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Shift Name <span class="text-danger">*</span></label>
											<input class="form-control" type="text" id="shiftName_edit">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Abbreviated Shift Name <span class="text-danger">*</span></label>
											<input class="form-control" type="text" id="abbreviationlocationName_edit">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Start Time <span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="start_TimeId_edit">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">End Time <span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="end_TimeId_edit">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<div class="status-toggle">
												<h5 class="pt-2">Is Fixed Shift</h5>
												<input type="checkbox" id="fixedId_edit" class="check visit_listner">
												<label for="fixedId" class="checktoggle">checkbox</label>
											</div>
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Fixed Amount</label>
											<input class="form-control" type="number" id="fixedAmountId_edit">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label>Location <span class="text-danger">*</span></label>
											<select id="edit_locationId" style="width:100%" asp-items="@(new SelectList(ViewBag.Location  ,"Id", "Name" ))" class="makeFilter form-control"> </select>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-form-label">Unpaid Time<span class="text-danger">*</span></label>
											<input class="form-control" type="time" id="unpaid_TimeId_edit">
										</div>
									</div>
								</div>
								<div class="row">
									<button type="button" class="btn btn-block bg-gradient-success" onclick="EditShift()">Update</button>
								</div>
							</div>
            </div>
        </div>
    </div>
    <!-- /Edit shift Modal -->
	</div>
	<!-- /Page Wrapper -->
</div>
<!-- /Main Wrapper -->