@*@model Core.Models.ApplicationUser
*@@{
    ViewData["Title"] = "Shift Location";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Company Branch</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Shift Location</li>
                    </ul>
                </div>


                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Setup Shift Location</a>
                </div>
            </div>
        </div>

       @* @if (CompanyBranch != null && CompanyBranch.Count() > 0)
        {*@
            <div class="row">
                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="table table-striped custom-table datatable">
                            <thead>
                                <tr>

                                    <th>Branch Name</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Postal Code</th>
                                    <th>Address</th>
                                    <th>Branch Location</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            @*@if (Model.Count() > 0 && Model != null)
                            {
                                <tbody id="bookingDetails">
                                    @foreach (var bookingGroup in Model)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@bookingGroup.Name</td>
                                            <td>@bookingGroup.ExpectedCostPrice</td>
                                            <td>@bookingGroup.ExpectedDateOfArrival</td>
                                            <td>@bookingGroup.TotalQuantityBooked</td>
                                            <td>
                                                <div class="">
                                                  <button class="btn add-tg-btn" onclick="addShiftLocation('@obj.Id')" data-target="#approve_leave" id="fff"> Update Shift Location</button>
                                                </div>
                                            </td>
                                            <td class="text-right">

                                                <div class="dropdown dropdown-action">
                                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_termination" onclick="GetBookingGroupById('@bookingGroup.Id')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_termination" onclick="GetBookingGroupById('@bookingGroup.Id')"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }*@
                        </table>
                    </div>
                </div>
            </div>
    </div>
    <!-- Add Shiftocation Modal -->
    <div id="add_department" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Shifts Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Shift Location Name<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="sl_Name">
                                <p class="text-danger" id="NameVDT" hidden></p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Address<span class="text-danger">*</span></label>
                                <input class="form-control floating" type="date" id="adrress">
                                <p class="text-danger" id="adrressVDT" hidden></p>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Shifts <span class="text-danger">*</span></label>
                                <div>
                                    @*<select id="shiftId" style="width:100%" asp-items="@(new SelectList(ViewBag.Shifts  ,"Id", "Name" ))" class="makeFilter form-control"> </select>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>State <span class="text-danger">*</span></label>
                                <div>
                                    @*<select id="stateId" style="width:100%" asp-items="@(new SelectList(ViewBag.State  ,"Id", "Name" ))" class="makeFilter form-control"> </select>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Postal Code<span class="text-danger">*</span></label>
                                <input class="form-control floating" type="date" id="postalCode">
                                <p class="text-danger" id="postalCodeVDT" hidden></p>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" onclick="createShiftLocation()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Shiftocation Modal -->
    <!-- Edit Shiftocation Modal -->
    <div id="edit_department" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Branch</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<form asp-action="AddCompanyBranch" asp-controller="Admin" method="post">
                        <div class="form-group">
                            <label>Branch Name <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="Name" value="" type="text" required>
                        </div>
                        <div class="form-group">
                            <label>Country <span class="text-danger">*</span></label>
                            <select class="form-control select" required asp-for="CountryId">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>State</label>
                            <select class="form-control" type="text" asp-for="StateId" required></select>
                        </div>
                        <div class="form-group">
                            <label>Postal Code <span class="text-danger">*</span></label>
                            <input class="form-control" asp-for="PostalCode" type="text" placeholder="Enter Postal code" required>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control " type="text" asp-for="Address" placeholder="Please Enter Branch Address" required>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>*@
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Shiftocation Modal -->
    <!-- Delete Shiftocation Modal -->
    <div class="modal custom-modal fade" id="delete_department" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Department</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Shiftocation Modal -->

    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content w-75 m-auto" id="myModalBody">
                @*<img src="~/images/loader.gif" id="myLoader" />*@
            </div>
        </div>
    </div>
</div>
